/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* This is the custom override CSS. */
/* Edit sass/custom.scss and compile with SASS. */
/* Ex command: sass public/assets/scss/custom.scss:public/assets/css/custom.css --style compact */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* fonts
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* colors
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* css resets
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* { margin: 0; padding: 0; }

/*html { background: url(/assets/img/bg.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}*/
html, body { /*height: 100%;*/ }

body { font-family: "Source Sans Pro", "Times New Roman", times, sans-serif; }

.fixed-top { padding-top: 70px; }

#bg { position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; z-index: -100; }

#bg img { position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; min-width: 50%; min-height: 50%; }

p, ul, ol, address { font-size: 20px; font-family: "Source Sans Pro", "Times New Roman", times, sans-serif; line-height: 28px; }

code { font-size: 16px; font-family: "Inconsolata", Courier, monospace; background-color: #959595; color: #222222; padding: 4px; border-radius: 0px; }

a { color: #c4570f; }

a:hover { color: #c4570f; }

a:visited { color: #c4570f; }

thead, tfoot { background-color: #f2f0ed; }

label.required:after { content: " *"; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Bootstrap overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 768px) { .half-container { width: 640px; } }
.nav { font-family: Raleway, Arial, Helvetica, sans-serif; font-weight: 100; }

.navbar { margin-bottom: 0px; /*border-bottom: 1px solid transparent;*/ /*background-color: #fff;*/ /*border-bottom: none;*/ }

.nav-sidebar { margin-right: -21px; margin-bottom: 20px; margin-left: -20px; }

.navbar-brand { float: left; height: 50px; padding: 15px 15px; font-size: 18px; line-height: 20px; }

img.brand-logo { margin-top: -15px; height: 75px; }

.img-center { margin: auto; }

.navbar-nohover { font-family: Raleway, Arial, Helvetica, sans-serif; font-weight: 100; padding-top: 12px; font-size: 20px; line-height: 30px; color: #00557b; }

.navbar-public { padding-top: 9px; padding-bottom: 9px; background-color: #f2f0ed; }

.nav-sidebar > li > a { font-size: 14px; line-height: 18px; }

.navbar-nav > li > a { color: #bbb; text-decoration: none; }

.navbar-nav > li.active, .navbar-nav > li.active > a:hover, .navbar-nav > li.active > a { background-color: #0078ae; color: #fff; }

.navbar-nav > li > a:hover { color: #aaa; text-decoration: none; background-color: #eee; color: #0078ae; }

.navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover { color: #bbb; text-decoration: none; background-color: transparent; }

.navbar-collapse.in { padding-top: 15px; padding-right: 15px; padding-left: 15px; overflow-x: visible; -webkit-overflow-scrolling: touch; border-top: none; }

.navbar-toggle { position: relative; float: right; padding: 9px 10px; margin-top: 8px; margin-right: 15px; margin-bottom: 8px; background-color: #ddd; background-image: none; border: 1px solid transparent; border-radius: 0px; }

.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 0px; background-color: #aaa; }

@media (max-width: 640px) { .nav-tabs > li > a { /*override the bootstrap borders for tab links*/ border: none; border-radius: 0; margin-right: 0px; padding: 5px 8px; } }
@media (min-width: 640px) { .nav-tabs > li > a { /*override the bootstrap borders for tab links*/ border: none; border-radius: 0; margin-right: 0px; padding: 20px 25px; } }
.nav-tabs > li > a:hover { border: none; background-color: #ddd; }

.btn-primary { color: #fff; background-color: #c4570f; border-color: #c4570f; }

.btn-default { color: #c4570f; border-color: lighen(#c4570f, 10%); }

.btn-default:visited { color: #c4570f; }

.panel { border-radius: 0px; height: 230px; }

@media (max-width: 768px) { .panel { height: inherit; } }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* custom id's and classes
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 640px) { h1.page-title { font-weight: 400; font-family: Raleway, Arial, Helvetica, sans-serif; font-size: 30px; color: #0078ae; margin-top: 10px; margin-bottom: 6px; }
  h2.page-subtitle { font-weight: 100; font-size: 26px; font-family: Raleway, Arial, Helvetica, sans-serif; margin-top: 10px; margin-bottom: 6px; } }
@media (max-width: 640px) { h1.page-title { font-weight: 400; font-family: Raleway, Arial, Helvetica, sans-serif; font-size: 24px; color: #0078ae; }
  h2.page-subtitle { font-weight: 100; font-size: 18px; font-family: Raleway, Arial, Helvetica, sans-serif; } }
.copy-section { background-color: #fff; /*margin-top: 10px;*/ margin-bottom: 36px; }

.copy-section h1 { font-weight: 400; font-size: 24px; }

.copy-section h2 { font-weight: 200; font-size: 20px; }

.copy-section p { font-size: 16px; line-height: 1.6; }

.copy-section ul { font-size: 16px; line-height: 1.6; margin-left: 24px; }

.pre-post-padding { padding-top: 24px; padding-bottom: 24px; }

.header-section { background-color: #f2f0ed; margin-bottom: 20px; }

.footer-section h3 { font-size: 20px; font-family: Raleway, Arial, Helvetica, sans-serif; }

.footer-section { padding-top: 24px; padding-bottom: 48px; background-color: #414141; color: #f2f0ed; }

.footer-usage-section { background-color: #959595; padding-top: 20px; padding-bottom: 12px; }

p.usage { font-size: 14px; line-height: 1.5; font-family: Raleway, Arial, Helvetica, sans-serif; }

.footer-copyright-section { padding-top: 20px; padding-bottom: 12px; }

p.copyright { font-size: 12px; font-family: Raleway, Arial, Helvetica, sans-serif; color: #959595; }

.footer-section a, .footer-section a:hover, .footer-section a:visited { color: #aaa; }

.tab-container { background-color: #f2f0ed; }

.video-title { color: #aaa; text-align: center; }

.heading-break { padding-top: 36px; }

@media (min-width: 1200px) { .splash-page { margin-top: 150px; } }
.splash-div-link { padding: 6px; background: #f2f0ed; background: rgba(242, 240, 237, 0.6); }

@media (min-width: 768px) { .splash-div-link { padding: 12px 12px 20px; background: #f2f0ed; background: rgba(242, 240, 237, 0.6); transition: all 0.9s ease 0s; }
  .splash-div-link:hover { background: #f2f0ed; } }
.panel-heading { font-weight: 800; font-size: 16px; }

p.organization { font-size: 14px; word-wrap: break-word; }

p.email { font-size: 14px; word-wrap: break-word; }

p.phone { font-size: 14px; }

@media (max-width: 992px) { .panel-heading { font-size: 14px; } }
@media (max-width: 768px) { .panel-heading { font-size: 14px; } }
.search-bar { padding: 12px; margin: 2px 2px 12px 2px; background: #f5f5f5; border: 1px solid #ddd; }

.form-control { border-radius: 0px; }

.btn { border-radius: 0px; }

.pagination { border-radius: 0px; }

ul.pagination { font-size: 14px; }

.pagination > li:first-child > a, .pagination > li:first-child > span { margin-left: 0; border-top-left-radius: 0px; border-bottom-left-radius: 0px; }

.pagination > li:last-child > a, .pagination > li:last-child > span { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }

.sign-in-form { max-width: 460px; padding: 15px; margin: 0 auto; margin-top: 12px; }

ul.horizontal-list { list-style: none; }

ul.horizontal-list li { display: inline; }

.social-list > li { padding-right: 20px; }

.well { min-height: 20px; padding: 12px; margin-bottom: 20px; background-color: white; border: 1px solid #e1dcd5; border-radius: 0px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.alert { padding: 8px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 0px; font-size: 20px; }

.alert > ul { list-style-type: none; }

.alert-danger { background-color: #f2f0ed; border-color: #ddd7cf; }

.sidebar { position: fixed; top: 50px; bottom: 0; left: 0; z-index: 1000; display: block; overflow-x: hidden; overflow-y: auto; background-color: #e1f6ff; padding-top: 12px; }

@media (max-width: 768px) { .sidebar { display: none; }
  .admin-navigation-title { display: none; }
  .nav-sidebar { margin-right: 0; margin-bottom: 0; margin-left: 0; } }
.admin-sidebar li.active > a { background-color: #101010; color: white; }

.admin-sidebar li > a:hover { background-color: #434343; color: white; }

.action-bar { background-color: #434343; color: white; padding: 6px 12px; margin-top: 12px; margin-bottom: 22px; }

.dropdown-menu { min-width: 200px; }

.dropdown-menu > li > a { font-size: 1.2em; }

.admin-nav-link { font-size: 0.8em; }

.admin-content .content h1.page-title { border-bottom: 1px solid #b6b6b6; padding-bottom: .6em; margin-bottom: 1em; }

.dashboard-actions { margin-bottom: 15px; }

.dashboard-link-block { border: 1px solid #363636; padding: 12px 3px 8px 3px; background-color: #363636; }

a.dashboard-link, a.dashboard-link:hover, a.dashboard-link:visited { text-decoration: none; }

.dashboard-link-block:hover { background-color: #004362; color: #fff; }

.report-title { border-bottom: 1px solid #00adfb; padding-bottom: 12px; color: #00adfb; font-family: Raleway, Arial, Helvetica, sans-serif; }

.admin-navigation-block { background-color: #363636; }

.message-label { font-size: 18px; font-weight: bold; font-family: Raleway, Arial, Helvetica, sans-serif; }

.message-copy { font-size: 16px; font-family: "Inconsolata", Courier, monospace; padding: 6px; background-color: #eee; }

.badge { font-size: 16px; font-weight: 100; padding: 5px 12px; border-radius: 0px; background-color: #0078ae; }

.modal-content { border-radius: 0px; }

.opaque-block { background: #0078ae; background: rgba(0, 120, 174, 0.7); transition: all 0.9s ease 0s; padding: 4px; }

.opaque-block:hover { background: #f2f0ed; background: rgba(242, 240, 237, 0.9); }

.fa-pad-right { padding-right: 6px; }

a.fa-hover { color: #f2f0ed; transition: all 0.3s ease 0s; }

a.fa-hover:hover { color: #c4570f; }

/*# sourceMappingURL=custom.css.map */
