/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* This is the custom override CSS. */
/* Edit sass/custom.scss and compile with SASS. */
/* Ex command: sass public/assets/scss/custom.scss:public/assets/css/custom.css --style compact */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* fonts
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
$sansSerifPrimary : "Source Sans Pro", "Times New Roman", times, sans-serif;;

@import url(http://fonts.googleapis.com/css?family=Raleway);
$sansSerifSecondary : Raleway, Arial, Helvetica, sans-serif;;

@import url(http://fonts.googleapis.com/css?family=Inconsolata);
$monospacePrimary : "Inconsolata", Courier, monospace;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* colors
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$standout: rgb(0,120,174);
$coreColor: rgb(242, 240, 237);
$adminDark: #101010;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* css resets
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { font-family: $sansSerifPrimary; }
.fixed-top { padding-top: 70px;}

p, ul, ol, address { font-size: 20px; font-family: $sansSerifPrimary; line-height: 28px; }

code { font-size: 16px; font-family: $monospacePrimary; background-color: #959595; color: #222222; padding: 4px; border-radius: 0px; }

a { color: rgb(196,87,15); }

a:hover { color: rgb(196,87,15); }

a:visited { color: rgb(196,87,15); }

thead, tfoot {
  background-color: $coreColor;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Bootstrap overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 768px) {
  .half-container {
    width: 640px;
  }
}

.nav {
  font-family: $sansSerifSecondary;
  font-weight: 100;
}

.navbar {
  margin-bottom: 0px;
  // border-bottom: 1px solid transparent;
  // background-color: #fff;
  // border-bottom: none;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

img.brand-logo {
  margin-top: -15px;
  height: 75px;
}

.navbar-nohover {
  font-family: $sansSerifSecondary;
  font-weight: 100;
  padding-top: 12px;
  font-size: 20px;
  line-height: 30px;
  color: darken( $standout, 10% );
}

.navbar-public {
  padding-top: 9px;
  margin-bottom: 9px;
}

.nav-sidebar>li>a {
  font-size: 14px;
  line-height: 18px;
}

.navbar-nav>li>a {
  color: #bbb;
  text-decoration: none;
}

.navbar-nav>li.active, .navbar-nav>li.active>a:hover, .navbar-nav>li.active>a {
  background-color: $standout;
  color: #fff;
}

.navbar-nav>li>a:hover {
  color: #aaa;
  text-decoration: none;
  background-color: #eee;
  color: $standout;
}

.navbar-nav>.active>a,
.navbar-nav>.active>a:focus,
.navbar-nav>.active>a:hover {
  color: #bbb;
  text-decoration: none;
  background-color: transparent;
}

.navbar-collapse.in {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: none;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: #ddd;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 0px;
  background-color: #aaa;
}

@media (max-width: 640px) {
  .nav-tabs>li>a {
    /*override the bootstrap borders for tab links*/
    border: none;
    border-radius: 0;
    margin-right: 0px;
    padding: 5px 8px;
  }
}

@media (min-width: 640px) {
  .nav-tabs>li>a {
    /*override the bootstrap borders for tab links*/
    border: none;
    border-radius: 0;
    margin-right: 0px;
    padding: 20px 25px;
  }
}

.nav-tabs>li>a:hover {
  border: none;
  background-color: #ddd;
}

.btn-primary {
  color: #fff;
  background-color: rgb(196,87,15);
  border-color: rgb(196,87,15);
}

.panel {
  border-radius: 0px;
  height: 230px;
}

@media (max-width: 768px) {
  .panel {
    height: inherit;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* custom id's and classes
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 640px) {
  h1.page-title {
    font-weight: 400;
    font-family: $sansSerifSecondary;
    font-size: 30px;
    color: $standout;
    margin-top: 10px;
    margin-bottom: 6px;
  }

  h2.page-subtitle {
    font-weight: 100;
    font-size: 26px;
    font-family: $sansSerifSecondary;
    margin-top: 10px;
    margin-bottom: 6px;
  }
}

@media (max-width: 640px) {
  h1.page-title {
    font-weight: 400;
    font-family: $sansSerifSecondary;
    font-size: 24px;
    color: $standout;
  }

  h2.page-subtitle {
    font-weight: 100;
    font-size: 18px;
    font-family: $sansSerifSecondary;
  }
}

.copy-section {
  background-color: #fff;
  /*margin-top: 10px;*/
  margin-bottom: 36px;
}

.copy-section h1 {
  font-weight: 400;
  font-size: 24px;
}

.copy-section h2 {
  font-weight: 200;
  font-size: 20px;
}

.copy-section p {
  font-size: 16px;
  line-height: 1.6;
}

.copy-section ul {
  font-size: 16px;
  line-height: 1.6;
  margin-left: 24px;
}

.pre-post-padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-section {
  background-color: $coreColor;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 20px;
  font-family: $sansSerifSecondary;
}

.footer-section {
  padding-top: 24px;
  padding-bottom: 48px;
  background-color: rgb(65, 65, 65);
  color: $coreColor;
}

.footer-section a, .footer-section a:hover, .footer-section a:visited {
  color: #aaa;
}

.tab-container {
  background-color: $coreColor;
}

.video-title {
  color: #aaa;
  text-align: center;
}

.heading-break {
  padding-top: 36px;
}

@media (min-width: 1200px) {
  .splash-page {
    margin-top: 200px;
  }
}

.panel-heading {
  font-weight: 800;
  font-size: 16px;
}

p.organization {
  font-size: 14px;
  word-wrap: break-word;
}

p.email {
  font-size: 14px;
  word-wrap: break-word;
}

p.phone {
  font-size: 14px;
}

@media (max-width: 992px) {
  .panel-heading {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .panel-heading {
    font-size: 14px;
  }
}

.search-bar {
  padding: 12px;
  margin: 2px 2px 12px 2px;
  background: #f5f5f5;
  border: 1px solid #ddd;
}

.form-control {
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
}

.pagination {
  border-radius: 0px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.sign-in-form {
  max-width: 460px;
  padding: 15px;
  margin: 0 auto;
}

.well {
  min-height: 20px;
  padding: 12px;
  margin-bottom: 20px;
  background-color: lighten( $coreColor, 8% );
  border: 1px solid darken( $coreColor, 8% );
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.alert {
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0px;
}

.alert-danger {
  background-color: $coreColor;
  border-color: darken( $coreColor, 10% );
}


.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: lighten( $standout, 60% );
  padding-top: 12px;
}

.admin-sidebar li.active>a {
  background-color: $adminDark;
  color: lighten( $coreColor, 15% );
}

.admin-sidebar li>a:hover {
  background-color: lighten( $adminDark, 20% );
  color: lighten( $coreColor, 15% );
}

.action-bar {
  background-color: lighten( $adminDark, 20% );
  color: lighten( $coreColor, 15% );
  padding: 6px 12px;
  margin-top: 12px;
  margin-bottom: 22px;
}
