/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* This is the custom override CSS. */
/* Edit sass/custom.scss and compile with SASS. */
/* Ex command: sass public/assets/scss/custom.scss:public/assets/css/custom.css --style compact */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Color palette from the styleguide page 5
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$linkPrimary: rgb(196,87,15); /*#c4570f*/
$linkPrimaryHover: rgb(166,166,166); /*#a6a6a6*/

$primaryPalette1: rgb(147,167,59); /*#93a73b*/
$primaryPalette2: rgb(167,188,57); /*#a6bd39*/
$primaryPalette3: rgb(0,120,174); /*#0078ae*/
$primaryPalette4: rgb(66,66,66); /*#424242*/
$primaryPalette5: rgb(242,240,237); /*#f2f0ed*/

$secondaryPalette1: rgb(135,151,58); /*#87973a*/
$secondaryPalette2: rgb(185,202,0); /*#b9ca00*/
$secondaryPalette3: rgb(104,104,104); /*#686868*/
$secondaryPalette4: rgb(155,155,155); /*#9b9b9b*/
$secondaryPalette5: rgb(255,255,255); /*#fffff*/

$standout: $primaryPalette1;
$coreColor: $primaryPalette5;
$adminDark: #101010;
$darkContrastColor: rgb(65, 65, 65);

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Custom CSS
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.sign-in-form {
  max-width: 460px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 12px;
}

.admin-sidebar {
  background-color: $primaryPalette5;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 12px;
}

.admin-sidebar>ul {
  margin-left: 0;
  margin-right: 0;
}

.admin-sidebar li.active>a {
  background-color: $adminDark;
  color: lighten( $coreColor, 15% );
}

.admin-sidebar li>a:hover {
  background-color: lighten( $adminDark, 20% );
  color: lighten( $coreColor, 15% );
}

.action-bar {
  background-color: lighten( $adminDark, 20% );
  color: lighten( $coreColor, 15% );
  padding: 6px 12px;
  margin-top: 12px;
  margin-bottom: 22px;
}

.dropdown-menu {
  min-width: 200px;
  border-radius: 0px;
  background-color: lighten( $primaryPalette4, 8% );
  border: 1px solid $primaryPalette4;
  -webkit-box-shadow: 0 9px 9px $primaryPalette4;
  box-shadow: 0 9px 9px $primaryPalette4;
}

.dropdown-menu>li>a {
  font-size: 1.2em;
  color: $secondaryPalette5;
}

.dropdown-menu>li>a:hover {
  background-color: $secondaryPalette4;
}

.admin-content .content h1.page-title {
  border-bottom: 1px solid lighten( $adminDark, 65% );
  padding-bottom: .6em;
  margin-bottom: 1em;
}

.dashboard-actions {
  margin-bottom: 15px;
}

.dashboard-link-block {
  border: 1px solid lighten( $adminDark, 15% );
  padding: 12px 3px 8px 3px;
  background-color: lighten( $adminDark, 15% );
}

a.dashboard-link, a.dashboard-link:hover, a.dashboard-link:visited {
  text-decoration: none;
}

.dashboard-link-block:hover {
  border: 1px solid darken( $standout, 15% );
  background-color: darken( $standout, 15% );
  color: #fff;
  transition: all 0.5s ease 0s;
}

.report-title {
  border-bottom: 1px solid lighten( $standout, 15% );
  padding-bottom: 12px;
  color: lighten( $standout, 15% );

  font-size: 22px;
}

.admin-navigation-block {
  background-color: lighten( $adminDark, 15% );
}

.select2-container--default .select2-selection--multiple {
  display: block;
  width: 100%;
  // padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  cursor: text;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ccc;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: $primaryPalette5;
  border: 1px solid darken( $primaryPalette5, 20% );
  color: lighten( $adminDark, 15% );
  border-radius: 0px;
  cursor: default;
  float: left;
  margin-right: 5px;
  padding: 0 5px;
  font-size: 14px;
}
.select2-dropdown {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0px;
}

p.usage {
  font-size: 0.9em;
  margin-top: 3em;
}